{% block title %}Bet Detail{% endblock %}
{% block content %}
{% if bet %}
  <table>
    <tr>
      <th>ID</th>
      <th>Description</th>
      <th>Bettor</th>
      <th>Opponent</th>
      <th>Wager</th>
      <th>Deadline</th>
      <th>State</th>
      <th>Outcome</th>
      <th>Creation Date</th>
    </tr>
    <tr>
      <td>{{bet.id}}</td>
      <td>{{bet.description}}</td>
      <td>{{bet.bettor}}</td>
      <td>{{bet.opponent}}</td>
      <td>{{bet.wager}}</td>
      <td>{{bet.deadline | date:'M. j, Y'}}</td>
      <td>{{bet.state}}</td>
      <td>{{bet.outcome}}</td>
      <td>{{bet.created_at | date:'M. j, Y'}}</td>
    </tr>
  </table>
{% else %}
<h1>Uh-oh. No bet specified.</h1>
{% endif %}
{% endblock %}
